includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/

    # Level 10 is the highest level
    level: 7

    ignoreErrors:
        - identifier: argument.type
          path: app/Providers/AppServiceProvider.php
#
#    excludePaths:
#        - ./*/*/FileToBeExcluded.php
